version: '2'
services:
  client:
    build: client
    links:
      - redis
    environment: &environment
      - TOKEN_ADDRESS=
      - TOKEN_CLIENT_SEED=
      - REDIS_URL=
    volumes:
      - ./state/client:/state
      - ./config/config.yml:/usr/src/client/config.yml
  bot:
    build: bot
    links:
      - redis
    environment: *environment
    volumes:
      - ./state/bot:/state
      - ./config/config.yml:/usr/src/bot/config.yml
      - ./bot/src:/usr/src/bot/src
  redis:
    build: redis